@font-face {
    font-family: SF Pro-Text;
    src: url('../../assets/fonts/SF-Pro-Text-Bold.otf');
}
.add-input{
    color: white;
    width: 150px;
    height: 50px;
    cursor: pointer;
    background-color: #00B294;
    font-size: 16px;
    border-radius: 16px;
    font-family: SF Pro-Text;
}
